body {
    background-color: #336699;
    font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    margin: 2em 1%;
    padding: 0;
    }
    .page {
    background-color: #f5f8fc;
    border: 3px solid #000000;
    padding: 1em;
    margin-bottom: 1em;
    }
    .ours {
    background-color: #ffffff;
    border: 3px solid #000000;
    padding: 1em;
    }
    h1,h2,h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    }
    h2 {
    background-color: transparent;
    color: #036;
    font-size: 1.3em;
    }
    h3 {
    background-color: transparent;
    color: #6699cc;
    font-size: small;
    }
    code,pre {
    color: #390;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    }
    pre {
    border-left:5px solid #a2c2e1;
    padding:0.5em 1em;
    margin-left:2em;
    }
    .page,.ours {
    width: 70%;
    }
    .menu {
    position: absolute;
    top: 2em;
    right: 1em;
    background-color: #ffecce;
    border: 1px solid #666666;
    padding: 1em;
    width: 20%;
    }
    html>body .menu {
    position: fixed;
    }

    .largeur {
        width: 50%;
    }